<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        text-align: center;
        background-color: grey;
        margin: auto;
    }
    th{
        width: 80px;
        height: 60px;
        font-size: 25px;
    }
    td{
        width: 50px;
        height: 50px;
        background-color: rgb(242, 241, 239);
    }
</style>
<body>
    <h2 style="text-align: center;">STUDENTS_DETAILS</h2>
<table border="2px">
    <tr>
        <th>name</th>
        <th>age</th>
        <th>course</th>
        <th>gender</th>
        <th>palce</th>
        <th>view</th>

    </tr>
    {%for stud in gm%}

    <tr>
    <td>{{stud.name}}</td>
    <td>{{stud.age}}</td>
   <td> {{stud.course}}</td>
   <td> {{stud.gender}}</td>
   <td> {{stud.palce}}</td>

   <td>
    <a href="{%url 'students' stud.id%}">link</a>
    
   </td>

    </tr>
    {%endfor%}
    
</table>
    
</body>
</html>